venv/
__pycache__/
*.pyc
.env
data/*.parquet
.vscode/

airflow/logs/
.env
venv/

airflow/logs/
.env
venv/
scripts/airflow/logs/
venv/
.env
scripts/airflow/logs/
venv/
.env
scripts/airflow/logs/
venv/
.env
